*{
    margin: auto;
    padding: auto;
}

body{
  background-color: #fafafa;
}

.celulares{
  display: block;
  margin-left: 255px;
  margin-top: 35px;
  float: left;
  width: 420px;
  padding: 0px;
  border: 1px solid rebeccapurple;

}

#main-content{
  background-color: #FFFFFF;
  margin-right: 250px;
  margin-top: 35px;
  border: 1px solid #D8D8D8;
  float: right;
  width: 380px;
}

.access{
  text-align: center;
  width: 300px;
  margin-top: 50px;
  margin-bottom: 40px;
}

form{
  font-family: Arial, Helvetica, sans-serif;
}

form div{
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

form input, form textarea {
  outline: none;
  padding: 12px;
  width: 270px;
  border: 1px solid #D8D8D8;
  border-radius: 2px;
  background-color: #fafafa;

}

.botton{
  outline: none;
  padding: 9px;
  width: 295px;
  border: none;
  border-radius: 5px;
  background-color: #aadee2;
  margin-top: 10px;
  font-size: 15px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
}

div.titulo {
  height: 1px;
  background-color: #D8D8D8;
  text-align: center;
  margin-top: 30px;
  width: 295px;
}

div.titulo span {
  background-color: white;
  top: -0.6em;
  position: relative;
  padding: 0 20px 0px 20px;
  color: #9b9b9b;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
  font-size: 15px;
}

#sublinhado{
  text-decoration: none;
}

.logo-face{
  margin-top: 3px;
  margin-left: 100px;
  width: 18px;
  float: left;
}

.link-face{
  width: 180px;
  margin-top: 40px;
  margin-right: 74px;
  float: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight:bold;
  color:#54658a;    
}

.ajuda{
  text-align: center;
  margin-top: 22px;
  margin-bottom: 26px;
  font-size: 13px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #141422;
}

.register{
  background-color: #FFFFFF;
  margin-right: 250px;
  margin-top: 10px;
  border: 1px solid #D8D8D8;
  float: right;
  width: 380px;
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
  font-size: 15px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #141422;
}

.link-register{
  font-weight: 500;
  text-decoration: none;
  color: #3e9af0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#dawnload{
  margin-right: 250px;
  margin-top: 5px;
  float: right;
  width: 380px;
  padding-top: 24px;
  padding-bottom: 0px;
  text-align: center;
  font-size: 15px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #141422;
}

a{
  text-decoration: none;
}

.obtenha{
  margin-bottom: 20px;
}
.botton-apple{
  width: 150px;
  padding-right: 2px;
}

.botton-play{
  width: 150px;
  padding-left: 2px;

}

#links-botto{
  clear:both;
  padding-top: 50px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  border: 1px solid red;
}