*{
    margin: auto;
}

body{
  background-color: #fafafa;
}

.celulares{
  display: block;
  margin-left: 255px;
  margin-top: 35px;
  float: left;
  width: 420px;
}

#main-content{
  background-color: #FFFFFF;
  margin-right: 250px;
  margin-top: 35px;
  border: 1px solid #D8D8D8;
  float: right;
  width: 380px;
}

.access{
  text-align: center;
  width: 300px;
  margin-top: 50px;
  margin-bottom: 40px;
}

form{
  font-family: Arial, Helvetica, sans-serif;
}

form div{
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

form input, form textarea {
  outline: none;
  padding: 12px;
  width: 270px;
  border: 1px solid #D8D8D8;
  border-radius: 2px;
  background-color: #fafafa;

}

.botton{
  outline: none;
  padding: 9px;
  width: 295px;
  border: none;
  border-radius: 5px;
  background-color: #aadee2;
  margin-top: 10px;
  font-size: 15px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
}

div.titulo {
  height: 1px;
  background-color: #D8D8D8;
  text-align: center;
  margin-top: 30px;
  width: 295px;
}
div.titulo span {
  background-color: white;
  top: -0.6em;
  position: relative;
  padding: 0 20px 0px 20px;
  color: #9b9b9b;
  font-family:'helvetica';
  font-weight: bolder;
  font-size: 15px;
}

#face{
  text-align: center;
  width: 200px;
  padding: 5px 0 20px 0px;
}
.logo-face{
  margin-top: 20px;
  width: 18px;
  text-align: center;
  
}

a{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 15px;
  text-decoration: none;
  text-align: top;
}
